@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,600;1,800&display=swap');

*, ::after, ::before{
    margin:0;
    font-family: 'Raleway', sans-serif;
}

body{box-sizing: content-box;}
#img-logo{width:55px;}

/* buttons */

/* red */
.btn-discover{
    background-color: #d2705c;
    border: 1px solid #d2705c;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0, 0,.2);
    text-align: center;
    padding: 10px 35px;
    display: inline-block;
    font-size: 18px;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
}
.btn-discover:hover, .btn-discover:focus{
    background-color: #ffb900;
    border: 1px solid #ffb900;
}

/* yellow */
.footer-btn{
    background-color:#ffb900;
    border: 1px solid #ffb900;
    color: #fff;
    text-align: center;
    padding: 10px 25px;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    text-decoration: none;
    transition: all 0.2s;  
}
.footer-btn:hover{
    background-color:#fff;
    border: 1px solid #ffb900;
    color: #ffb900;
    /* border: 1px solid #d2705c; */
}

@media screen and (max-width:992px) {
    .btn-discover{
        margin: 0;
        padding: 8px 25px;
        font-size: 12px;
    }
    .footer-btn{
        padding: 8px 25px;
        font-size:12px;
    }
}

/* navbar section ------------- */

.nav-link {
    /* padding: 0.7em; */
    position: relative;
}
    .nav-link::after {
        content: '';
        opacity: 0;
        transition: all 0.1s;
        height: 2px;
        width: 100%;
        background-color: #ffb900;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .nav-link:hover::after {opacity: 1;}
    .navbar-nav .nav-item a{
        font-size: 12px; 
        text-transform: uppercase; 
        font-weight: 500;
    }
.nav-item a.btn {
    background-color: transparent;
    border:1px solid #d2705c;
    color:#d2705c;
    text-align:center;
    padding: 10px 25px;

    /* top right bottom left */
    text-decoration:none;
    display:inline-block;
    border-radius:20px;
    box-sizing: border-box;
    font-weight:800;
    cursor: pointer;
    transition: all 0.03s;
    }
.nav-item a.btn:hover, a.btn:focus{
    background-color: #d2705c;
    color:#fff;
}
.navbar-text{
    font-size: 16px;
}
    @media all and (max-width: 992px){
        .nav-link{
            font-size: 14px;
        }
        .navbar-text{
            font-size: 12px;
        }
    }
    @media all and (max-width:576px){
        .nav-item a.btn{
            display:block;
            margin:0 0.5em 0.5em 0;

            /* margin:0.2em; */
            width: 50%;
            padding:8px 10px;
            transition: all 0.2s;
        }
        .nav-item a.btn:hover{
            background-color: #d2705c;
            color:#fff;
        }
        .navbar-toggle{
            width: 10px;
            height: 10px;
        }
        .offcanvas-header {
            width: auto;
        }
        .offcanvas-header .navbar-brand span {
            font-size: 0.6em;
            font-weight: 800;
        }
        .offcanvas-body{
            font-size: 1em;
        }
    }

#slider-hero-item{
    min-height: 600px;
    background-color: darkgray;
    position: relative;
    background-size: cover;
    background-origin: padding-box;
    background-attachment: fixed;
}
#slider-hero-item .carousel-caption{
    position: absolute;}
    #btncontact{
        background-color: #d2705c;
        border: 1px solid #d2705c;
        color: #fff;
        text-shadow: 2px 2px 2px rgba(0,0, 0,.2);
        text-align: center;
        padding: 10px 25px;
        display: inline-block;
        margin-top:20px;
        font-size: 16px;
        border-radius: 20px;
        transition: all 0.3s;
    }
    #btncontact:hover, #btncontact:focus{
        background-color: #ffb900;
        border: 1px solid #ffb900;
    }


/* Plain Banner */
    .plainBanner{
        padding:6% 0;
        width: 100%;
        min-height: 300px;
        /* border: 2px solid red; */
    }
    /* .plain-holder{
        /* border: 2px solid #b74444;   

    } */
    .plainBanner .plain-holder .leftside{
        line-height:1.2;
        font-size: 2.2em;
        font-weight: 300;
        width: 50%;

        /* border: 2px solid #ffb900;   */
    }
    .plainBanner .plain-holder .text-gray{
        font-size: 1.4em;
        width: 40%;

        /* border: 2px solid #8000ff; */
    }
    @media screen and (max-width:992px) {
        .plainBanner{
            padding-top:6%;
            width: 100%;
            min-height: 300px;
            display: flex;
            /* border: 2px solid red; */
        }

        .plainBanner .plain-holder .leftside{
            line-height:1.2;
            font-size: 2.2em;
            font-weight: 300;
            width: 100%;
    
            /* border: 2px solid #ffb900;   */
        }
        .plainBanner .plain-holder .text-gray{
            font-size: 1.4em;
            width: 100%;
    
            /* border: 2px solid #8000ff; */
        } 
    }

/* banner container */
    .bgBanner{
        background-image: url(/assets/homepage.webp);
        width: 100%;
        min-height: 200px;
        background-color: rgba(0,0, 0,.2);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .bgBanner .bgBanner-holder{
        padding:6% 0;
        width: 100%;
        /* border: 2px solid red; */
    }   
        .bgBanner .header-left{
            width: 30%;
            font-size: 4em;
            line-height: 0.9;

            /* border:  2px solid #ffffff; */
        }
        .bgBanner .body-right{
            width: 40%;
            margin-left: auto;

            /* border: 2px solid #8000ff; */
        }
            .bgBanner .body-title{
                font-weight: 700;
            }
            .bgBanner .body-text{
                line-height:1.1;
                font-size: 1.5em;
                font-weight:500;
                width: 100%;
            }  
    @media screen and (max-width:992px) {
        .bgBanner .bgBanner-holder{
            padding:6% 0;
            width: 100%;
            /* border: 2px solid red; */
        }   
            .bgBanner .header-left{
                width: 100%;
                font-size: 3em;
                line-height: 0.9;
    
                /* border:  2px solid #ffffff; */
            }
            .bgBanner .body-right{
                width: 100%;
                margin-left: auto;
    
                /* border: 2px solid #8000ff; */
            }
                .bgBanner .body-title{
                    font-weight: 700;
                }
                .bgBanner .body-text{
                    line-height:1.1;
                    font-size: 1.5em;
                    font-weight:500;
                    width: 100%;
                }   
    }


/* Tool section */
#tool-section{
    height:700px;
}
    #tool-section #tool-row{
        height: 100%;
    }
        #tool-pic{
            width: 500px;
            height: 600px;
            background-image:url(/assets/home.webp); 
            background-position: center;
            background-repeat: no-repeat; 
            background-size:cover; 
        }
        #tool-box{
            width: 300px;
            background-attachment: local scroll;
        }
        #tool-text-box #imgTxt1{
            color: #004569;
            padding-bottom: 5px;
            font-size: 3em;
        }
        .tool-txt{
            color: #000;
            font-size: 1.2em;
        }
        
    @media screen and (max-width:992px) {
        #tool-pic{
            width: 100%;
            height: 50%;
            margin: auto;
        }
        #tool-box{
            width: 300px;
            background-attachment: local scroll;
        }
        #tool-text-box #imgTxt1{
            color: #004569;
            padding-bottom: 2px;
            font-size: 32px;
        }
        .tool-txt{
            color: #000;
            font-size: 14px;
        }  
    }



/* footer */
    .footer-txt{
        font-size: 3em;
        line-height: 1;
    }
/* copyrights */
    .copy{
        font-size: 14px;
    }

    
/* Testimonial page Pic */
    .testimony-article{
        /* border: 2px solid #ffb900; */

        height: auto;
        width: 100%;
    }
        .testi-txt-holder{
            /* border: 2px solid #d2705c; */
            
            height: auto;
            width: 50%;
        }
            .title{
                /* border: 2px solid #d2705c; */
                color: #004569;
                font-size: 3.6em;
                line-height: .9;
                padding-top: 20%;
            }
            .title-2{
                /* border: 2px solid #d2705c; */
                color:#fff;
                font-size: 3.6em;
                line-height: .9;
                padding-top: 25%;
            }
                .sub-title{
                    color: #d2705c;
                    font-size: .9em;
                    text-align: end;
                    padding-right: 10%;
                    margin-top: -10;
                }
                .sub-title-2{
                    color:#fff;
                    font-size: .9em;
                    text-align: start;
                    margin-top: -10;
                }
                .sub-title-3{
                    color:#d2705c;
                    font-size: .9em;
                    text-align: start;
                    margin-top: -10;
                    margin-left: 40%;
                }
            .quot{
                margin:1% 43% 3%;
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);

                /* border: 2px solid #d2705c; */
            }
            .article{
                font-size: 1rem;
                /* border: 2px solid #d2705c; */
            }
            .article-2{
                font-size: 1.1rem;
                color: #fff;
                /* border: 2px solid #d2705c; */
            }
        .testi-img-holder{
            /* border: 2px solid yellow; */

            height: 50%;
            width: 50%;
            padding-top: 10%;
        }
        .testi-img-holder-2{
            /* border: 2px solid yellow; */

            height: 700px;
            width: 50%;
            padding-top: 5%;
        }
        .testi-img-holder-3{
            /* border: 2px solid yellow; */

            height: auto;
            width: 50%;
            padding-top: 10%;
            object-fit: cover;
        }
        @media all and (max-width:576px){
            .testimony-article{
                /* border: 2px solid #ffb900; */
        
                height: auto;
                width: 100%;
            }
            .testi-txt-holder{
                /* border: 2px solid #d2705c; */
                
                height: auto;
                width: 100%;
            }
                .title{
                    /* border: 2px solid #d2705c; */
                    color: #004569;
                    font-size: 3em;
                    text-align: end;
                    line-height: .9;
                    padding-top: 5%;
                    color: #004569;
                }
                .title-2{
                    /* border: 2px solid #d2705c; */
                    color:#fff;
                    font-size: 3.5em;
                    line-height: .9;
                    padding-top: 5%;
                }
                    .sub-title{
                        color: #d2705c;
                        font-size: .8em;
                        text-align: end;
                        margin-top: -10;
                    }
                    .sub-title-2{
                        color:#fff;
                        font-size: .8em;
                        text-align: start;
                        margin-top: -10;
                    }
                    .article{
                        font-size: .9rem;
                        /* border: 2px solid #d2705c; */
                    }
                    .article-2{
                        font-size: .9rem;
                        /* border: 2px solid #d2705c; */
                    }
                    .testi-img-holder{
                        /* border: 2px solid #004569; */
            
                        height: 50%;
                        width: 50%;
                        padding-top: 0;
                    }
                    .testi-img-holder-2{
                        /* border: 2px solid #004569; */
            
                        height: 100%;
                        width: 100%;
                        padding-top: 0;
                    }
                    .testi-img-holder-3{
                        /* border: 2px solid #004569; */
            
                        height: 50%;
                        width: 50%;
                        padding-top: 0;
                    }
        }

/* testimony page footer */
footer{
    background-color: #f3f5f8;
    color: #004569;
}
    #btncontact-footer{
        background-color: #004569;
        color: #fff;
        text-align: center;
        padding: 8px 18px;
        display: inline-block;
        font-size: 12px;
        border-radius: 20px;
        transition: all 0.2s; 
    }
        #btncontact-footer:hover{
            background-color:transparent;
            border: 1px solid #004569;
            color: #004569;
        }
    #footer-txt-testimony{
        font-size: 3em;
        line-height: 1;
    }
    .Socicons{
        color: #004569;
    }


/* give page */
.txt-title{
    font-size: 3.5em;
}

#btncontact2{
    background-color: #004569;
    border: 1px solid #004569;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0, 0,.2);
    text-align: center;
    padding: 10px 25px;
    display: inline-block;
    margin-top:10px;
    font-size: 14px;
    border-radius: 25px;
    transition: all 0.3s;
}
#btncontact2:hover{
    background-color: #ffb900;
    border: 1px solid #ffb900;
}

#banner2{
    background-image: url(../assets/1.png);
    width: 100%;
    min-height: 500px;
    background-color: rgba(0,0, 0,.2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    background-origin: padding-box;
    background-attachment: fixed;
    /* border: 2px solid #ffb900; */
}
#banner2 #cbanr2{
    margin-top: 6%;
    width: 100%;

    /* border: 5px solid red; */
    }
    #banner2 #txth{
        width: 50%;
        margin-bottom: 1.5%;

        /* border:  2px solid #ffffff; */
    }
    #banner2  #txtbody{
            line-height:1.1;
            font-size: 1.8em;
            font-weight:400;
        }
    #banner2  #hdr4{
        width: 50%;
        /* border: 2px solid #d2705c; */
    }
    #banner2  #hdr4body{
        letter-spacing:1px;
        line-height:0.9;
        font-size:3.5em;
        /* border: 2px solid #d2705c; */
    }
    @media all and (max-width:576px){
        #banner2 #txth{
            width: 100%;
            margin-bottom: 1.5%;
            /* border:  2px solid #ffffff; */
        }
        #banner2  #txtbody{
            line-height:1;
            font-size: 1.3em;
            font-weight:500;
        }
        #banner2  #hdr4{
            width: 100%;
            letter-spacing:1px;
            line-height:0.9;
            font-size:1.5em;
            margin-bottom: 5%;
            /* border: 2px solid #d2705c; */
        }
        #banner2  #hdr4body{
            letter-spacing:1px;
            line-height:1;
            font-size:2.5em;
            /* border: 2px solid #d2705c; */
        }
    }

    #banner2 #btncontact3{
        background-color: #ffb900;
        border: 1px solid #ffb900;
        color: #fff;
        text-shadow: 2px 2px 2px rgba(0,0, 0,.2);
        text-align: center;
        padding: 10px 25px;
        display: inline-block;
        margin-top:10px;
        font-size: 14px;
        border-radius: 25px;
        transition: all 0.3s;
    }
    #banner2 #btncontact3:hover{
        background-color: #d2705c;
        border: 1px solid #d2705c;
    }
    
    /*give banners */
    #concernbnr1 #h2{
        line-height:1.2;
        font-size: 2.5em;
        font-weight: 300;
        /* border: 2px solid #ffb900;   */
    }
    #concernbnr1 #bnrcnrcn1{
        width: auto;
        /* border: 2px solid #8000ff; */
    }
    #concernbnr1 .text-gray{
        font-size: 1.3em;
        width: auto;
        /* border: 2px solid red; */
    }
    @media all and (max-width:576px){
        #concernbnr1 #h2{
            line-height:1.1;
            font-size: 2em;
            font-weight: 300;
        }  
        #concernbnr1 .text-gray{
            font-size: 1em;
        }
    }

    .carousel-caption #quot{
        /* border: 2px solid red; */
        margin-bottom: 5%;
        margin-top: 5%;
    }

    #give-text{
    font-size: 2em;
    line-height: 1.1;
    }
    @media all and (max-width:776px) {
        #give-text{
            font-size:1.5em;
        }
        .carousel-caption #quot{
            /* border: 2px solid red; */
            margin-bottom: 5%;
            margin-top: 5%;
        }
        .txt-title{
            font-size: 3em;
        }
    }
    @media all and (max-width:576px) {
        #give-text{
            font-size:1.2em;
        }
        .carousel-caption #quot{
            /* border: 2px solid red; */
            margin-bottom:0;
            margin-top: 0;
        }
        .txt-title{
            font-size: 2.5em;
        }
    }

/* ministry */
    /*banners */
    .bnr{
        width: 100%;
        line-height:1.2;
        /* font-size: 2.5em;
        font-weight: 300; */
        /* border: 2px solid #ffb900;   */
    }
    .bnr .txt-title1{
        width: 50%;
        font-size: 3.8em;
        /* border: 2px solid #8000ff; */
    }
    .bnr .bnr-txt{
        font-size: 1.3em;
        width: 50%;
        /* border: 2px solid red; */
    }
    @media all and (max-width:576px){
        .bnr .txt-title1{
            width: 100%;
            font-size: 3em;
            /* border: 2px solid #8000ff; */
        } 
        .bnr .bnr-txt{
            font-size: 1.3em;
            width: 100%;
            /* border: 2px solid red; */
        }
    }

    /* banner container */
.banner{
    background-image: url(../assets/4blessed2.png);
    width: 100%;
    min-height: 400px;
    background-color: rgba(0,0, 0,.2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    background-origin: padding-box;
    background-attachment: fixed;
    /* border: 2px solid #ffb900; */
}
.banner .cbanr{
    margin-top: 5%;
    width: auto;

    /* border: 5px solid red; */
    }

    .banner .hdr3{
        width: 50%;
        letter-spacing:1px;
        line-height:1;
        font-size:4.1em;
        margin-bottom: 5%;
        /* border: 2px solid #d2705c; */
    }
    @media all and (max-width:576px){

        .banner .hdr3{
            width: 380px;
            letter-spacing:1px;
            line-height:0.9;
            font-size:3.5em;
            margin-bottom: 5%;
            /* border: 2px solid #d2705c; */
        }
    }


    .bnr2{
        width: 100%;
        line-height:1.2;
        /* font-size: 2.5em;
        font-weight: 300; */
        /* border: 2px solid #ffb900;   */
    }
    .bnr2 .txt-title2{
        width: 40%;
        font-size: 3.8em;
        color: #004569;
        /* border: 2px solid #8000ff; */
    }
    .bnr2 .bnr2-txt{
        font-size: 1.3em;
        width: 60%;
        color: #004569;
        line-height: 1.9;
        /* border: 2px solid red; */
    }
    .bnr2 .bnr2-header{
        font-size: 1.2em;
        color: #004569;
    }
    @media all and (max-width:576px){
        .bnr2 .txt-title2{
            width: 100%;
            font-size: 3.5em;
            /* border: 2px solid #8000ff; */
        } 
        .bnr2 .bnr2-txt{
            font-size: 1.3em;
            width: 100%;
            /* border: 2px solid red; */
        }
    }


