/* Garret Book */
@font-face {
    font-family: garretBook;
    src: url(/assets/garet/Garet-Book.ttf);
}
/* Garret Heavy */
@font-face {
    font-family: garretHeavy;
    src: url(/assets/garet/Garet-Heavy.ttf);
}
/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,600;1,800&display=swap'); */

*, ::after, ::before{
    margin:0;
    padding: 0;
    font-family: 'garretBook', sans-serif;
}

body{box-sizing: content-box;}
#img-logo{width:55px;}

/* red */
.btn-danger{
    background-color: #d2705c;
    border: 1px solid #d2705c;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: .5rem 1rem;
    transition: all ease-out .3s;
}
    .btn-danger:hover, .btn-danger:focus{
        background-color: #ffb900;
        border: 1px solid #ffb900;
    }
/* yellow */
.btn-warning{
    background-color: #ffb900;
    border: 1px solid #ffb900;
    color: #1e1e1e;
    text-align: center;
    border-radius: 30px;
    padding: .5rem 1rem;
    transition: all ease-out .3s;
}
    .btn-warning:hover, .btn-warning:focus{
        background-color: #004569;
        border: 1px solid #ffb900;
        color: #fff;
    }
/* blue */
.btn-primary{
    background-color: #004569;
    border: 1px solid #004569;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: .5rem 1rem;
    transition: all ease-out .3s;
}
    .btn-primary:hover, .btn-primary:focus{
        background-color: #ffb900;
        border: 1px solid #ffb900;
    }

/*Typography*/
.nav-link{
    font-size: 13px;
    font-weight: 600;
}
.btn-text{
    font-size: 13px;
    font-weight: 500;
}
.navbar-text-offcanvas{
    font-size:15px;
    font-family: 'garretBook';
    font-weight: 200;
    color: #004569;
}
.title{
    font-size:40px;
    font-family: 'garretHeavy';
    font-weight: 500;
}
.header-garretHeavy{
    font-size:26px;
    font-family: 'garretHeavy';
    font-weight: lighter;
}
.header-garretBook{
    font-size:26px;
    font-family: 'garretBook';
    font-weight: 900;
}
.subtitle-25-garretHeavy{
    font-size:20px; 
    font-family: 'garretHeavy';
    font-weight: 500;
}
.subtitle-18-garretHeavy{
    font-size:18px; 
    font-family: 'garretHeavy';
    font-weight: 500;
}
.subtitle-25-garretBook{
    font-size:20px; 
    font-family: 'garretBook';
    font-weight: 500;
}
.subtitle-18-garretBook{
    font-size:18px; 
    font-family: 'garretBook';
    font-weight: 500;
}
.body-details{
    font-size: 14px;
    font-family: 'garretBook';
    font-weight: 400;
}
.body-details-12{
    font-size: 11px;
    font-family: 'garretBook';
    font-weight: 400;
}

    @media screen and (min-width:1100px){
        .nav-link{
            font-size: 15px;
            font-weight:600;
        }
        .nav-link:hover .nav-link:focus{
            color: #d2705c;
        }
        .btn-text{
            font-size: 14px;
            font-weight: 500;
        }
        .navbar-text-offcanvas{
            font-size:20px;
            font-family: 'garretBook';
            font-weight: 200;
            color: #004569;
        }
        .title{
            font-size:40px;
            font-family: 'garretHeavy';
            font-weight: 500;
        }
        .header-garretHeavy{
            font-size:34px;
            font-family: 'garretHeavy';
            font-weight: lighter;
        }
        .header-garretBook{
            font-size:34px;
            font-family: 'garretBook';
            font-weight: 900;
        }
        .subtitle-25-garretHeavy{
            font-size:25px; 
            font-family: 'garretHeavy';
            font-weight: 500;
        }
        .subtitle-18-garretHeavy{
            font-size:22px; 
            font-family: 'garretHeavy';
            font-weight: 500;
        }
        .subtitle-25-garretBook{
            font-size:25px; 
            font-family: 'garretBook';
            font-weight: 500;
        }
        .body-details{
            font-size: 18px;
            font-family: 'garretBook';
            font-weight: 500;
        }
        .body-details-12{
            font-size: 12px;
            font-family: 'garretBook';
            font-weight: 400;
        }
        
    }


/* navbar */
.navbar{
    padding-inline: .5rem;
    text-transform: uppercase;
}
    @media screen and (min-width:1100px) {  
        .navbar{
            padding-inline: 3rem;
            text-transform: uppercase;
        } 
    }

/* carousel */
#slider-hero-item{
    min-height: 700px;
    background-color: darkgray;
    position: relative;
    background-size: cover;
    background-origin: padding-box;
    background-attachment: fixed;
}
#slider-hero-item .carousel-caption{
    position: absolute;
    top: 11rem;
}
    #btncontact{
        background-color: #d2705c;
        border: 1px solid #d2705c;
        color: #fff;
        text-shadow: 2px 2px 2px rgba(0,0, 0,.2);
        text-align: center;
        padding: 10px 25px;
        display: inline-block;
        margin-top:20px;
        font-size: 16px;
        border-radius: 20px;
        transition: all 0.3s;
    }
    #btncontact:hover, #btncontact:focus{
        background-color: #ffb900;
        border: 1px solid #ffb900;
    }

/* plainBanner */
.plainBanner{
    /* border: 2px solid #d2705c; */
    min-height: 350px;
    padding-inline: 4rem;
    padding-block: 5rem;
}

/* bg banner */
 .bgBanner{
    background-image: url(/assets/homepage.webp);
    width: 100%;
    min-height: 300px;
    background-color: rgba(0,0, 0,.2);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    .bgBanner-holder{
        /* border: 2px solid red; */
        padding-inline: 4rem;
        padding-block: 5rem;
        color: #fff;
    }
    .bgBanner-box{
        /* border: 2px solid yellow; */
        width: 400px;
    }

/* Tool Section */
.tool-section{
    /* border: 2px solid red; */
    height: 700px;
    padding-inline: 4rem;
    padding-block: 3rem;
    color: #1e1e1e;
}

    #tool-pic{
        width: 500px;
        height: 600px;
        background-image:url(/assets/home.webp); 
        background-position: center;
        background-repeat: no-repeat; 
        background-size:cover; 
        transition: transform .1s;
        /* border: 2px solid #004569; */

    }
    #tool-pic:hover{
        transform: scale(1.1); 
    }
        #tool-box{
            width: 300px;
            background-attachment: local scroll;
        }
        #imgTxt1{
            color: #004569;
            padding-bottom: 2px;
        }
        #tool-text-box{
            /* border: 2px solid #004569; */
            height: auto;
        }

/* Footer */
.footer-container{
    height: 400px;
    padding-inline: 4rem;
    padding-block: 5rem;   
}
    .left{
        width: 400px;
    }
    .center{
        width: 500px;
    }
.copy{
    padding-inline: 4rem;
    padding-block: 1rem;
}
